arrow>=1.2.3
caldav>=0.11.0
lxml>=4.9.0
pytz>=2023.3
python-dateutil>=2.8.2
requests>=2.31.0
selenium>=4.21.0
vobject>=0.9.7

# Google API dependencies
google-auth>=2.29.0
google-auth-oauthlib>=1.2.0
google-auth-httplib2>=0.2.0
google-api-python-client>=2.130.0

# Optional:
PySimpleGUI>=4.60.0  # For GUI